.navbar{
    display: flex;
    justify-content: space-around;
    height: 122px;
    width: 100wh;
    align-items: flex-end;

}
.navbar>div>h4{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: #6B708D;
}
a:hover{
    color: #072AC8;
}
h4{
    margin: 5px;
}
button{
    padding: 10px 15px 10px 15px;
    background-color: #072AC8;
    color: white;
    border: 0;
}
button:hover{
    background-color: #292E47;
}

@media (max-width: 990px) {
    
}