.questions{
    height: 500px;
    width: 100wh;
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questions>div>input{
    height: 50px;
    width: 300px;
    border: 0;
    background-color: #ECF7FF;;
}
.questions>div>button{
    height: 52px;
    
}
.questions>h1{
    margin: 0;
}
.questions>h5{
    font-weight: lighter;
}