.ourClients{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  
}
.ourClients h1{
    color: white;
    font-size: 40px;
    margin-left: 18%;
    margin-right: 18%;
}
.ourClients h2{
    color: #ffc600;
    margin-left: 5%;
    margin-right: 5%;
}
.clientProfile{
    display: flex;
    text-align: left;
}
.clientPhoto{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.clientProfile h4{
    color: #43D2FF;
    margin-top: 10px;
}
.clientProfile h5{
    color: white;
    margin-top: 10px;
    margin-left: 5px;
}
/* .memojisClients{
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    gap: 250%;
    row-gap: 80%;
    margin: 40px;
} */
.clientsContainer{
    position: relative;
    background-color: #292E47;
    height: 622px;
    width: 100%;
    background-image: url(../images/testimonial-section/orbit.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.memoji1{
    height: 150px;
    position: absolute;
    top: 50px;
    right:50px;
}
.memoji2{
    height: 150px;
    position: absolute;
    top: 50px;
    left:50px;
}
.memoji3{
    height: 150px;
    position: absolute;
    bottom: 50px;
    left:50px;
}
.memoji4{
    height: 150px;
    position: absolute;
    bottom: 50px;
    right:50px;
}

@media (max-width: 750px){
    .memoji1{
        height: 100px;
    }
    .memoji2{
        height: 100px;
    }
    .memoji3{
        height: 100px;
    }
    .memoji4{
        height: 100px;
    }

}
@media (max-width: 600px){
    .memoji1{
        height: 0px;
    }
    .memoji2{
        height: 0px;
    }
    .memoji3{
        height: 0px;
    }
    .memoji4{
        height: 0px;
    }
}